# Get the UAA_API_TOKEN from https://network.pivotal.io/users/dashboard/edit-profile
DRYRUN=False
DOWNLOAD_DESTINATION=minio
UAA_API_TOKEN=1-r
MINIO_ACCESS_KEY=1
MINIO_SECRET_KEY=1+FMfJbUxuhOp
MINIO_HOST=localhost:9000
PIVNET_BUCKET_NAME=pivnet-downloader